@import "../navbar/navbar.css";

body {

    /* background: rgb(2,0,36); */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(46,115,192,0.9419117988992471) 41%, rgba(0,212,255,1) 100%);    padding: 0; */
    background: url("./images/snow_mint.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    color: #cdcdcd;
    height:  100vh;
    width: 100vw;
    overflow: hidden;
}

h1{
    color:aqua;
    font-size: 3em;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    height: 90vh;
    width: 80vw;
    background: rgba(9, 235, 235, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#menuToggle input:checked + label div {
  background: #250755;
}

#menu {
  background-color: rgba(97, 96, 148, 0.7);
  /* background-color: rgba(44, 44, 46, 0.9); */
}

#menuToggle label div {
    background-color: #614848;
}

#menuToggle a {
  text-decoration: none;
  color: #99e1ee;
}  

#menuToggle a:hover {
  color: #f7fbfd;
}


main img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

main img:hover{
    cursor: pointer;
}

main .doubleimg{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.makespace1 {
    transform: translateX(-75%);
}

.makespace2 {
    transform: translateX(+75%);
}

.authorcontent h1{
    color: rgb(56, 57, 63);
    text-align: center;
}

.fadeH{
    animation: fadeinH ease-in 0.6s ;
}

.fadeP{
    animation: fadeinP ease-in 0.6s ;
}

.a_des{
    font-size: 1.3em;
    color: rgb(16, 3, 20);
    text-align: center;
}


.grey{
    filter: grayscale(100%);
    animation: grayer ease-in-out 1.5s;
}

@keyframes grayer{
    0%{
        filter: grayscale(0%);
    }

    100%{
        filter: grayscale(100%);
    }
}

@keyframes fadeinH{
    0% {
        opacity: 0;
        transform: translateX(-80px);
    }

    50%{
        opacity: 0.7;
        transform: translateX(-40px);
    }

    100%{
        opacity: 1;
    }
}

@keyframes fadeinP{
    0% {
        opacity: 0;
        transform: translateX(+80px);
    }

    50%{
        opacity: 0.7;
        transform: translateX(+40px);
    }

    100%{
        opacity: 1;
    }
}


@media (max-width: 1550px){
    .authorcontent h1{
        font-size: 2em;
    }

    .a_des{
        font-size: 1em;
    }
}

@media (max-width: 400px){


    h1{
        font-size: 1.5em;
    }

    h1 :nth-child(1){
        padding-top: 300px;
    }

    .doubleimg {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .doubleimg  img{
        margin-top: 30px;
    }

    .doubleimg :nth-child(1){
        order: 2;
    }

    .doubleimg :nth-child(2){
        order: 1;
    }

    .doubleimg :nth-child(3){
        order: 3;
    }

    main img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .makespace1 {
    transform: translateX(0%);
    }

    .makespace2 {
        transform: translateX(0%);
    }

    .author{
        margin-top: -30px;
    }
    
}

/* curtain */
/* 
html, body, section{
  height:100%;
  width:100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}

section{
  background-color:#0099CC;
  color:#fff;
  font-family: Helvetica;
}

h1{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  font-size:90px;
  margin:0;
}

a{
  position: absolute;
  color: #0099CC;
  background-color:#fff;
  text-decoration: none;
  padding:5px 15px;
  border-radius:10px;
  font-size:20px;
  bottom: 20px;
  left:50%;
  transform: translateX(-50%);
}

#dos{
  background-color:#15b22f;
}

#dos a{
  color:#15b22f;
}

#uno.muestra, #dos.muestra{
  position:absolute;
  top:0;
  z-index:1;
  transform-origin:top center;
  animation: iconosani 1.2s forwards;
}

@keyframes iconosani {
    0% {
        transform: perspective(800px) rotateX(-90deg);
        opacity: 1;
    } 
    40% {
        transform: perspective(800px) rotateX(30deg);
        opacity: 1;
    }
    70% {
        transform: perspective(800px) rotateX(-10deg);
    }
    100% {
        transform: perspective(800px) rotateX(0deg);
        opacity: 1;
    }
} */

