@import "../navbar/navbar.css";

body {

    /* background: rgb(2,0,36); */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(46,115,192,0.9419117988992471) 41%, rgba(0,212,255,1) 100%);    padding: 0; */
    background: url("./images/snow_mint.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    color: #2b1b1b;
    height:  100vh;
    width: 100vw;
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    /* color:rgb(9, 56, 56); */
    background-color: rgba(18, 2, 29, 0.9);
    text-align: center;
    color: white;
    font-size: 3em;
    width: 40%;
    border-radius: 10px;
    padding: 10px 0px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    height: 90vh;
    width: 80vw;
    /* background: rgba(35, 18, 66, 0.25); */
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#menuToggle input:checked + label div {
  background: #250755;
}

#menu {
  background-color: rgba(97, 96, 148, 0.7);
  /* background-color: rgba(44, 44, 46, 0.9); */
}

#menuToggle label div {
    background-color: #614848;
}

#menuToggle a {
  text-decoration: none;
  color: #99e1ee;
}  

#menuToggle a:hover {
  color: #f7fbfd;
}

.authors{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.dev{
    margin: 0 50px;
    padding: 50px 50px;
    padding-bottom: 100px;
    background: rgba(185, 30, 82, 0.25);
    border-radius: 20px;
}

.dev h2{
    color: #250755;
    font-size: 1.5em;
}

.dev p{
    font-size: 1.3em;
    color: #614848;
}

.social{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    opacity: 0;
}

.social img{
    width: 35px;
    height: 35px;
    margin: 0 15px;
}

.social img:hover{
    cursor: pointer;
}

.ipopup{
    animation: popup 1s ease ;
    opacity: 1;
}

.unipopup{
    animation: unpopup 1s ease ;
    opacity: 0;
}

.gray{
    filter: grayscale(100%);
    animation: grayer ease-in-out 1.5s;
}

.ungray{
    filter: grayscale(0%);
    animation: ungrayer ease-in-out 1.5s;
}

@keyframes grayer{
    0%{
        filter: grayscale(0%);
    }

    100%{
        filter: grayscale(100%);
    }
}

@keyframes ungrayer{

    0%{
        filter: grayscale(100%);
    }

    100%{
        filter: grayscale(0%);
    }
}

.brighter{
    filter: brightness(1.1);
}


@keyframes popup{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }

    100%{
        opacity: 1;
    }
}


@keyframes unpopup{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        transform: translateY(20px);
    }
}
